/* Universal Styles */
body{

  font-family: 'Fira Sans';
  color: #4f5255;
}
header {
    width: 100%;
    z-index: 1;
    height: 64px;
    background-color: white;
    }

header img {
        height: 50px;
        padding-left: 24px;
}

.navbar {
        display: flex;
        align-items: center;
}
nav {
  display: block;
  text-align: right;
  flex-grow: 1;
  margin-right: 24px;
}

nav span {
    display: inline-block;
    padding: 20px 16px;
    font-family: 'Fira Sans';
}
a:link {
    text-decoration: none;
}
a{
    color: #4f5255;
}
#banner{
  display: flex;
  background-color: #dcd8d6;
  align-items: center;
}
#banner img{
  margin: 32px 24px;
  width:60%;
}

.text{
  padding-left: 24px;
  width: 40%;
  font-size: 28px;
  line-height: 90%;
}
h4{
  padding-top: 10px;
  font-size: 24px;
  line-height: 30%;
}
.btn{
  background-color: #4a4f55;
  color:white;
  padding: 15px 175px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
 }

 #MainInformation {
   display: flex;
   background-color: white;
 }
.orientation img{
  width: 100%;
}
h1{
  font-size: 48px;
}
 .orientation {
   margin: 32px 24px;
   width:60%;
 }

 #column {
   border-left:1px solid  #dcd8d6;
   width: 40%;
   margin-top: 16px;
 }

#column img{
  margin: 16px 16px;
}
 #column ul {
display: inline-block;
list-style-type: none;
line-height: normal;
vertical-align: top;
 }
.Intro2{
border-top:5px double  #dcd8d6;
}

.Intro3{
background-color: #dcd8d6;
}

li:first-child{
font-size: 32px;
}
li{
  padding:8px 0;
  word-wrap: break-word;
  font-size: 18px;
  }
li a{
color: blue;
}

#lessons {
  background-color:  #dcd8d6;

}
h2 {
  display: flex;
  padding-top: 32px;
  justify-content: center;
  font-size: 48px;
}
.flex-container1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 72px;
        padding-right: 72px;
        padding-bottom: 32px;

}
.item {
padding: 0px 10px;

}
.item img {
    height: auto;
    width: 400px;

}
.description{
  background-color: white;
  height:300px;
  margin-bottom: 24px;
}

h3{
  font-size: 32px;
  padding: 8px 16px;
  margin:0;
}
p{
    padding: 0px 16px;
    font-size: 24px;
    line-height: 45%;

}
#column2 {

  width: 40%;
  margin-top: 16px;
}

#column2 img{
 margin: 16px 16px;
}

#column2 ul {
  display: inline-block;
  list-style-type: none;
  line-height: normal;
  vertical-align: top;

}
.exhibit1{
  background-color: #dcd8d6;
  width: 650px;
}

footer{
  border-top:1px solid  #dcd8d6;
padding:24px 16px;
  font-size: 16px;
  margin-bottom: 48px;
}
.textbox{
  font-size: 16px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
